@import './mixin/mixin.scss';
@include title('login__title');
.login__content {
    @include container();
    margin-top: 3.5rem;
    color: $beige;
    display: flex;
    justify-content: space-between;
    h3 {
        color: $green;
        margin-bottom: 3rem;
    }
    &--left {
        width: 45%;
        &--input {
            margin-bottom: 3rem;
            label {
                display: block;
                margin-bottom: 13px;
            }
            input {
                width: 100%;
                height: 45px;
            }
        }
        &--check {
            #check {
                display: none;
            }
            label {
                display: inline-block;
                position: relative;
                padding-left: 2rem;
                cursor: pointer;
                color: black;
                padding-right: 1rem;
                &::before {
                    @include check();
                }
            }
            a {
                font-style: italic;
                text-decoration: underline;
            }
        }
        .login {
            @include button();
        }
    }
    &--right {
        width: 45%;
        P {
            margin-top: -2rem;
            font-size: 0.9rem;
        }
        a {
            @include button();
        }
    }
}