.register__title {
  width: 80%;
  margin: 0 auto; }
  .register__title div {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #868685; }
    .register__title div a {
      color: #3fb871;
      text-decoration: none;
      min-width: 100px; }

.register__content {
  width: 80%;
  margin: 0 auto;
  margin-top: 3.5rem;
  color: #868685; }
  .register__content h3 {
    color: #3fb871;
    margin-bottom: 2rem;
    margin-top: 4rem; }
  .register__content--input {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .register__content--input--text {
      width: 45%;
      height: 73px;
      margin-bottom: 2rem; }
      .register__content--input--text input {
        width: 100%;
        height: 45px;
        margin-top: 10px; }
      .register__content--input--text label b {
        color: red; }
  .register__content--check input {
    display: none; }
  .register__content--check label {
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer; }
    .register__content--check label::before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      border: 1px solid #d7d7d7;
      background: white;
      position: absolute;
      left: 0;
      top: 0; }
  .register__content--action {
    display: flex;
    margin-top: 1rem; }
    .register__content--action a {
      display: inline-block;
      text-decoration: none;
      color: white;
      background-color: #3fb871;
      width: 150px;
      height: 45px;
      box-sizing: border-box;
      text-align: center;
      border-radius: 1.5rem;
      font-size: 0.85rem;
      padding-top: 0.85rem;
      margin-top: 2rem; }
      .register__content--action a:nth-child(1) {
        background: white;
        color: #3fb871;
        margin-right: 1.5rem;
        border: 1px solid #3fb871; }
