$item: '.list__content--right--list--item';
$category :'.list__content--right--top--category--right';
$grid_category: '.grid__content--right--top--category--right';
$product: '.hotproduct__grid--left--small';
$hover: '.grid__content--right--product--item--image';
$size_small: 0.7rem;