include ../components/mixin.pug
html(lang="en")
  head
    include ../components/head.pug
  body
    include ../components/header.pug
    +title('contact__title','Liên hệ')
    .contact__map
        img(src="../img/lien-he.png", alt="")
    .contact__input
         .contact__input--left
             h3 THÔNG TIN LIÊN HỆ
             each labell in ['Họ và tên','Địa chỉ email ','Số ĐT']
                .contact__input--left--text
                    label= labell
                       b *:
                    input(type="text")
             .contact__input--left--text
                label Bình luận
                   b *:
                textarea         
         .contact__input--right
            img(src="../img/logo-footer.png", alt="")
            p DKT được thành lập với niềm đam mê và khát vọng thành công trong lĩnh vực Thương mại điện tử.Chúng tôi đã và đang khẳng định được vị trí hàng đầu bằng những sản phẩm
            span(class="fas fa-mobile-alt") Điện thoại : (84-4) 66.558.868
            span(class="far fa-envelope") Email : info@dkt.com.vn 
            
    include ../components/footer.pug
    