extends ./templates/main.pug
block content
    +title('list__title','Danh sách sản phẩm')
    .list__content   
        block category   
           +grid__left__category('list__content--left')
        .list__content--right
          block category__right
            +content__right__top('list__content--right--top') 
          .list__content--right--list
                each srcimg in srcListItem
                    +list__item(srcimg)
          .list__content--right--bottom
              each i in['Trang trước',2,3,4,5,'Trang cuối']
                  a= i 
    