include ./mixin/mixin.pug
<!DOCTYPE html>
html(lang="en")
  head
    include ./components/head.pug
  body
    include ./components/header.pug
    +title('newss__title','Cây dạ lam')
    .newss__content
        +news__left('newss')
        .newss__content--right
            each item in news
               +news__right__same('newss',item.img,item.title)
            .newss__content--right--bottom
              each i in['Trang trước',2,3,4,5,'Trang cuối']
                a= i                       
    include ./components/footer.pug
