$item: '.list__content--right--list--item';
$category :'.list__content--right--top--category--right';
$grid_category: '.grid__content--right--top--category--right';
$product: '.hotproduct__grid--small';
$hover: '.grid__content--right--product--item--image';
$detailInfor: '.detail__content--information';
$detailProduct: '.detail__content--product';
$detailMainProduct:'.detail__content--mainProduct';
$newsContentLeft: '.newss__content--left';
$detailNewsContentLeft: '.detailNews__content--left';
$size_small: 0.7rem;
$gray: #c2c2c2;
$beige :#868685;
$circle: 50%;
$green: #3fb871;